<div class="bg-pattern w-full h-full" fxLayout="column" fxLayoutAlign="center center">
  <div [@fadeInUp] class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/demo/logo_new.jpg">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Set Email Verification</h2>
    </div>

    <div  class="p-6 flex flex-col">
      <button (click)="send()" class="mt-2" color="primary" mat-raised-button type="button">
        Accept verify My account
      </button>
    </div>
  </div>
</div>
