<vex-page-layout>

  <vex-page-layout-header class="pb-16" fxLayout="column" fxLayoutAlign="center start">
    <div [class.container]="layoutCtrl.value === 'boxed'"
         [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
         class="w-full flex flex-col sm:flex-row justify-between">
      <div>
        <h1 class="title mt-0 mb-1">Pay History</h1>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
                           [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
                           class="-mt-6">

    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
          <span>Pay History</span>
        </h2>
      </div>

      <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>

        <!-- Text Columns -->
        <ng-container matColumnDef="payslipID">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Pay ID </th>
          <td mat-cell *matCellDef="let element"> {{element.payslipID}} </td>
        </ng-container>

        <ng-container matColumnDef="PAY_DATE">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Pay Date </th>
          <td mat-cell *matCellDef="let element"> {{element.PAY_DATE | date:'dd MMMM yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="period">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Period </th>
          <td mat-cell *matCellDef="let element"> {{element.period}} </td>
        </ng-container>

        <ng-container matColumnDef="NET_PAY">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> AMOUNT </th>
          <td mat-cell *matCellDef="let element"> £{{element.NET_PAY}} </td>
        </ng-container>

        <!-- Label Column-->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>View</th>
          <td *matCellDef="let element" mat-cell>
            <div fxLayoutAlign="start center" fxLayoutGap="4px" (click)="downloadPayslip(element.payslipID)">
              <div class="rounded px-2 py-1 downloadbtn downloadshadow" fxFlex="none">
                <button class="font-medium" type="button">
                  Download Payslip
                </button>
              </div>
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr
            *matRowDef="let row; columns: visibleColumns;"
            @fadeInUp
            class="hover:bg-hover trans-ease-out cursor-pointer"
            mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
    </div>

  </vex-page-layout-content>

</vex-page-layout>
