.text-green-500{
  color: #4caf50;
}
.text-red-500{
  color: #fb5246;
}
::ng-deep{
  .timepicker{
    z-index: 9999999 !important;
  }
  .timepicker-backdrop-overlay{
    z-index: 9999999 !important;
  }
  .timepicker-overlay{
    z-index: 9999999 !important;
  }

}
