<div class="card overflow-auto -mt-16">
    <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
        <span *ngIf="selection.isEmpty()">Job List</span>
      </h2>
      <span fxFlex></span>

      <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
        <mat-icon [icIcon]="icSearch"></mat-icon>
      </button>

      <!-- <button [matMenuTriggerFor]="columnFilterMenu"
              class="ml-4"
              fxFlex="none"
              mat-icon-button
              matTooltip="Filter Columns"
              type="button">
        <mat-icon [icIcon]="icFilterList"></mat-icon>
      </button> -->

      <button *ngIf="currentUser['clientType'] != 'User'"(click)="createCustomer()"
              class="ml-4"
              color="primary"
              fxFlex="none"
              mat-mini-fab
              matTooltip="Add Job"
              type="button">
        <mat-icon [icIcon]="icAdd"></mat-icon>
      </button>
    </div>

    <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>


      <!-- Text Columns -->
    <ng-container matColumnDef="JobId">
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Job ID </th>
      <td mat-cell *matCellDef="let element"> {{element.JobId}} </td>
    </ng-container>

    <ng-container matColumnDef="shiftDate">
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> Shift Date </th>
      <td mat-cell *matCellDef="let element"> {{element.shiftDate | date:'dd MMMM yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="totalStaff">
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> WORKER ALLOCATION </th>
      <td mat-cell *matCellDef="let element"> {{element.totalStaff}} </td>
    </ng-container>

    <!-- Label Column -->
    <ng-container matColumnDef="status">
      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>Status</th>
      <td *matCellDef="let row" mat-cell>
        <div fxLayoutAlign="start center" fxLayoutGap="4px">
          <div
               [ngClass]="[row.status.textClass, row.status.bgClass]"
               class="rounded px-2 py-1 font-medium text-xs"
               fxFlex="none">
            {{ row.status.text }}
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
      <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
        <button (click)="$event.stopPropagation()"
                [matMenuTriggerData]="{ customer: row }"
                [matMenuTriggerFor]="actionsMenu"
                mat-icon-button
                type="button">
          <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
    <tr
        *matRowDef="let row; columns: visibleColumns;"
        @fadeInUp
        class="hover:bg-hover trans-ease-out cursor-pointer"
        mat-row></tr>
    </table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
  </div>
  <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button *ngFor="let column of columns"
            class="checkbox-item mat-menu-item">
      <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
        {{ column.label }}
      </mat-checkbox>
    </button>
  </mat-menu>

  <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-customer="customer" matMenuContent>
      <button  [disabled]="currentUser['clientType'] == 'User'" (click)="viewJob(customer)" mat-menu-item>
        <span>View Job</span>
      </button>
    </ng-template>
  </mat-menu>